{% extends 'base.html' %}

{% block content %}

{% load static %}


    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>forget password</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'login' %}">login</a></li>
                            <li class="breadcrumb-item active" aria-current="page">change password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="pwd-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2>Change Password</h2>
                    <form class="theme-form" method="POST">
                        <div class="form-row">
                            <div class="col-md-12">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <!-- <input type="text" class="form-control" id="email" placeholder="Enter Your Email"
                                    required=""> -->
                                <button type="submit" class="btn btn-solid">Change password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->

{% endblock %}
